.Editor {
  display: flex;
  flex: 1;

  font-family: Menlo, Consolas, DejaVu Sans Mono, monospace;
  font-size: 13px;
  line-height: 1.5;
  white-space: pre;
}

.Editor input {
  position: absolute;
  width: 100%;
  height: 19px;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 0;
  border: 0;
}

.Editor-Content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.Editor-Cursor {
  position: relative;
  width: 0px;
  height: 13px;
  display: inline-block;
}

.Editor-Cursor.focused::after {
  content:'';
  top: 2px;
  position: absolute;
  width: 1px;
  height: 13px;
  background-color: #ffffff;
  animation: blink 1s steps(1,end) infinite;
}

.Editor-Line {
  position: relative;
}

.Editor-Input-Position {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
